#Ignore all files
/*

#Ignore exceptions
!.gitignore
!README.md

#submodule projects
!libcommand/
!libtranslator/

#local projects
!LocaleConverter/
!MultilingualConfigTrait/
!SingletonTrait/
!SelfFactoryTrait/
!stringutils/